#starterPageHeading{
    height: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0031c6;
}
#starterPageHeading .signupButton{
    background-color: white;
    color: black;
    margin: auto 0.3rem auto auto;
    text-align: center;
    padding: 0.3rem 1.4rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.2rem;
    border-bottom: 0rem rgb(125, 125, 125) solid;
    transition: 0.05s;
    min-width: 3rem;
}
#starterPageHeading .signupButton:hover{
    border-bottom: 0.1rem black solid;
    padding-bottom: 0.2rem;
    cursor: pointer;
    transition: 0.15s;
}
#starterPageHeading .signupButton:active{
    cursor: default;
}